* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

img {
  align: center;
  margin-top: 10%;

}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}

.error-actions .btn {
  margin-right:10px;
}


@media (max-width: 900px) {
  img {
    width: 400px;
  }
}

@media (max-width: 600px) {
  img {
    width: 250px;
  }
  .error-actions .btn {
    font-size: 95%;
  }
}
